  .card {
    height: 20rem !important;
    width: 95%;
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  .card-header {
    color: #dd2476;
    background: rgb(50, 50, 50);
  }
  
  .card-body {
    height: 5rem !important;
    margin-bottom: 5rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-around;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;

  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }

  /* Pour rendre la barre de recherche plus réactive */
.form-group {
  width: 100%;
  max-width: 400px; /* Limiter la largeur pour éviter les débordements sur les écrans larges */
  margin: 0 auto; /* Centrer horizontalement */
}

/* Pour rendre les cartes de cryptomonnaies plus réactives */
.card {
  width: 100%;
  margin-bottom: 20px; /* Espacement entre les cartes */
}

/* Styles pour ajuster la taille des boutons sur les tablettes */
@media (min-width: 740px) and (max-width: 992px) {
  .card .btn {
    font-size: 14px; /* Taille de police plus petite */
    padding: 5px 10px; /* Espacement interne réduit */
  }
  
  .card-body {
    margin-bottom: 20px; /* Augmente la marge en bas du card-body */
  }

  .card-text {
    font-size: 14px; /* Réduit la taille du texte */
  }
}

/* Pour rendre les boutons plus réactifs */
.btn {
  padding: 10px 20px; /* Espacement interne des boutons */
  font-size: 16px; /* Taille de police des boutons */
}