<div class="container">
    <div class="card">
        <div class="card-header" >
            <h3 class="card-title"> Bienvenue sur notre site de suivi des cryptomonnaies </h3>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center pt-5">
            <p class="card-text">
            Notre site vous permet de suivre les dernières informations sur les différentes cryptomonnaies,
            y compris le prix, le classement et d'autres données importantes.
            </p>
        </div>
    </div>  
    <div class="card">
        <div class="card-header" >
            <h3>Qu'est-ce que Bitcoin ?</h3>
        </div>
        <div class="card-body">
        <p class="card-text">
            <p>
            Bitcoin est une cryptomonnaie décentralisée qui fonctionne sans autorité centrale ou banque. 
            Il a été inventé en 2008 par une personne (ou un groupe de personnes) sous le pseudonyme de Satoshi Nakamoto
            et a été lancé en 2009 en tant que logiciel open source.
            Bitcoin utilise la technologie de la blockchain pour enregistrer toutes les transactions effectuées avec la monnaie,
            ce qui en fait une monnaie numérique sécurisée et transparente.
            </p>
        </div>
    </div>  
  </div>
  